<% if (Albums && Albums.length>0) { %>
  <% for(var i=0; i<Albums.length; i++) { %>
    <tr>
      <td><%= Albums[i].WeekNumber %></td>
      <td><%= Albums[i].dateCreate %></td>
      <td><%= Albums[i].BandName %></td>
      <td><%= Albums[i].AlbumName %></td>
      <td><%= Albums[i].IsVisible %></td>
      <td><%= Albums[i].ImgName %></td>
      <td>
        <a href="#" onclick="EditClick(event, '<%= Albums[i].id %>')">Редактировать</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="DeleteClick(event, '<%= Albums[i].id %>')">Удалить</a>
      </td>
    </tr>
  <% } %>
<% } else { %>
   <h1>Нет альбомов для выбранной недели</h1>
<% } %>
